* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  background-color: #efefef;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

h1.inside {
  padding: 0;
}

h1 {
  padding-top: 270px;
  padding-bottom: 300px;
  font-size: 3em;
  color: #000;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

nav,
footer {
  padding: 1% 0;
  background-color: #000;
}

nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: left;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #e4572e;
}

header {
  min-height: 700px;
}

.bio {
  min-height: 700px;
}

main {
  padding: 0;
}

main h1 {
  padding-left: 6%;
  padding-right: 6%;
}

.top {
  padding-left: 6%;
  padding-right: 6%;
}

a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

a:hover {
  opacity: 0.7;
}

.bio h2 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bio h2,
.bio p {
  color: #000;
  opacity: 0.8;
}

.bio p {
  width: 40%;
}

footer {
  width: 100%;
  bottom: 0%;
  text-align: center;
  padding: 30px;
  font-size: 0.75em;

  color: #fff;
}

footer p {
  opacity: 0.3;
  text-align: center;
}

footer a {
  display: block;
  margin-bottom: 6px;
}

.footer-links {
  margin-bottom: 20px;
}

h1.inside {
  text-align: left;
}

h3 {
  color: #898989;
}

p {
  text-align: left;
}

.bio p {
  width: 50%;
}

.menu {
  float: right;
}

section {
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 60px;
}

button {
  width: 140px;
  height: 40px;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 4px;
  border: 0;
  background: #cdcdcd;
  color: #252525;
  cursor: pointer;
}
.projects {
  width: 100%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.desc {
  text-align: left;
  margin-left: 40px;
  width: 43%;
}
.desc h2 {
  margin-top: 0;
  text-align: left;
}
.desc p {
}
.project-img {
  width: 50%;
}
.project-img img {
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.project-container button {
  display: inline;
}

@media only screen and (max-width: 1200px) {
  .project-container {
    width: 100%;
  }
  main {
    /*padding-left: 6%;
    padding-right: 6%;*/
  }

  .project-img {
    width: 100%;
  }
  .desc {
    text-align: left;
    padding-top: 30px;
    width: 80%;
  }

  .bio p {
    width: 100%;
  }
}
